body {
    background-color: rgb(234, 234, 234);
    color: rgb(79, 130, 207);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height:100vh;
}


header , footer{
    flex-grow: 1;
}

.container {
flex-grow: 8;
display: flex;
justify-content: space-around;
}

.column {
    flex-grow: 2;
}
.form {
    flex-grow: 4;
}

.info-card {
    flex-grow: 8;
   
}

form div {
    flex-grow: 1;
}


button {
    width: 58%;
}

.row {
    flex-grow: 1;
}

.card {
    display: flex;
    flex-grow: 1;
    background-color: white;
   
}

.image-column {
    flex-grow: 1;
    padding: 1.5em 0em 0em 1.5em;
   
}

.card-column{
    flex-grow: 4;
}

.priority {

    display: flex;
    justify-content: space-between;
    padding: 0em 1em 0em 1em;
}

.description {

    display: flex;
    gap:1em;
    justify-content: start;
    padding: 1em 0em;
} 

.details {

    display: flex;
    justify-content: space-between;
}

input, select, button {
    padding: 0.5em 0em 0.5em 0em;
}